.maven-pro-400 {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .maven-pro-500 {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .maven-pro-600 {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .maven-pro-700 {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .maven-pro-800 {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .maven-pro-900 {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }